input {
  http {
    port => 12201
  }
}

filter {
  if [headers][request_method] != "POST" {
    # On Aptible, we've configured the logdrain to pass logs to logstash
    # over HTTPS. Logs are passed via POST requests.
    #
    # Drop all non-POST requests. Healthchecks happen over HTTP GET,
    # and we don't want those getting into Logstash.
    drop { }
  }

  json {
    source => 'log'
    skip_on_invalid_json => true
  }

  # Remove 'Bearer ' part from the 'token' field
  # so that we can decode the JWT
  mutate {
    gsub => [
      "token", "Bearer ", ""
    ]
  }

  if [token] {
    jwt_decode {
      key => "${SECRET_KEY_BASE}"
      match => "token"
      extract_fields => {
        user_id => "user_id"
        role => "role"
      }
    }
  }

  mutate {
    remove_field => [
      "token"
    ]
  }

  # Extract the query name and assign it to a new field 'query_name'
  #
  # Example log:
  #
  #       { "query": "query ActivitiesData($protocolWeekId: Int! ... }
  #
  if [query] {
    grok {
      match => {
        "query" => "query %{WORD:query_name}\("
      }
    }
  }
}

output {
  elasticsearch {
    hosts => "${ELASTICSEARCH_URL}"
    pool_max => 1
    sniffing => false
    template => "/usr/share/logstash/index_template/ja_index_template.json"
    template_name => "ja-logstash"
    template_overwrite => "true"
    validate_after_inactivity: 200
  }
}
